
<div class="ui middle aligned center aligned grid forme">
	<form class="ui large form" (submit)="loginUser()">
		<div class="ui  segment  formulaire">
			<div class="ui header">Authentication</div>
			<div class="ui stacked  secondary segment">
				<div class="required field">
					<div class="ui left icon input">
						<i class="envelope icon"></i>
						<input type="email" name="email" [(ngModel)] = "user.email" placeholder="email"/>
					</div>
				</div>
				<div class="required field">
					<div class="ui left icon input">
		            	<i class="lock icon"></i>
		            	<input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" placeholder="Password"/>
		          	</div>
		        </div>
				<input  class="ui fluid large teal submit button" type="submit" name="" value="Login" />
			</div>
		</div>
		<div class="ui error message"></div>
		<div class="ui stacked segment">
			<a href="#">Forgot password ?</a> ||
			<a routerLink="/enregistrement" routerLinkActive="active">Sign In</a>
		</div>
	</form>
</div>
