
<div class="ui middle aligned center aligned grid forme">
	<form class="ui large form" (submit)="loginUser()">
		<div class="ui  segment  formulaire">
			<div class="ui header">Authentication</div>
			<div class="ui stacked  secondary segment">
				<div class="required field">
					<div class="ui left icon input">
						<i class="envelope icon"></i>
						<input type="email" name="email" id="email" placeholder="email"/>
					</div>
				</div>
				<div class="required field">
					<div class="ui left icon input">
		            	<i class="lock icon"></i>
		            	<input type="password" name="password" placeholder="Password">
		          	</div>
		        </div>
				<input  class="ui fluid large teal submit button" type="submit" name="" value="Login" />
			</div>
		</div>
		<div class="ui error message"></div>
		<div class="ui stacked segment">
			<a href="#">Forgot password ?</a> ||
			<a routerLink="/enregistrement" routerLinkActive="active">Sign In</a>
		</div>
	</form>
</div>

<!-- <script type="text/javascript">
		$(document).ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
	</script> -->